#### Import module

In [43]:
import os
import sys
import itertools

import pydocumentdb.documents as documents
import pydocumentdb.document_client as document_client
import pydocumentdb.errors as errors

import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import numpy as np

import view.config as cfg
import view.storage as st

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [ ]:
HOST = cfg.settings.host
MASTER_KEY = cfg.settings.master_key
DATABASE_ID = cfg.settings.database_id
COLLECTION_ID = cfg.settings.collection_id

In [13]:
res ="accepted_offers"
doc_query = "select * from c where c.resourcename = '{0}'".format(res)
    
docs = st.Reader(DATABASE_ID, COLLECTION_ID, doc_query, cfg.settings)

In [90]:
df = pd.DataFrame([item for doc in docs for item in doc["data"]])
groups = df.groupby(["type"])
groups.describe()

        value                                                                \
        count          mean          std    min      25%      50%       75%
type
AFRR  61148.0    703.429679   130.746012  225.0    611.0    680.0    772.00
FCR   61148.0    682.033607    86.379084  431.0    622.0    667.0    726.00
MFRR  42432.0   4956.423643  3078.056192    0.0   2577.0   4766.0   7187.25
RR    41028.0  14350.035756  5014.221243    0.0  11822.0  14230.0  17092.00


          max
type
AFRR   1656.0
FCR    1304.0
MFRR  14692.0
RR    32415.0

In [91]:
w1_value = ''
w1 = None
w1 = widgets.Dropdown(
        options=conf_dict['NumericalColumns'],
        value=conf_dict['NumericalColumns'][0],
        description='Numeric Variable:',
    )

i = interactive(NumericAnalytics.custom_barplot, df=fixed(df), col1=w1)
hbox = widgets.HBox(i.children)
display(hbox)
hbox.on_displayed(NumericAnalytics.custom_barplot(df=df, col1=w1.value))

NameError: name 'widgets' is not defined